html{
    margin: 0;
}

h1 {
    font-family:monospace;
    color:#164949;
    font-size:3em;
    margin:0;
}

h2 {
    font-family:monospace;
    color:#164949;
    font-size:2em;
    margin:0;
    
}

